@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome bro </h1>
    <p>Learn about <a href="https://google.com">access google</a>.</p>
</div>
